In [ ]:
#- Encontre a cidade de cada imóvel;
#- Calcule o preço por área de imóvel;
#- Calcule o lucro/ perda de investimento caso o imóvel seja vendido mais de uma vez naquele período.



import pandas as pd
import folium as flm
import matplotlib.pyplot as plt
import seaborn as sns

Ts = pd.read_csv('kc_house_data.csv', squeeze = True)
Ts.isnull().sum()
dfs = pd.DataFrame(Ts)

dfs.head()
#counts = dfs['id'].value_counts()

#dfs[dfs.apply(lambda x: counts[x['id']] > 1.0, axis=1)]

for i in range(len(dfs)) :
  print(dfs.loc[i, "id"], dfs.loc[i, "price"])

In [ ]:
#- Encontre a cidade de cada imóvel;
#- Calcule o preço por área de imóvel;
#- Calcule o lucro/ perda de investimento caso o imóvel seja vendido mais de uma vez naquele período.



import pandas as pd
import folium as flm
import matplotlib.pyplot as plt
import seaborn as sns

Ts = pd.read_csv('kc_house_data.csv', squeeze = True)
Ts.isnull().sum()
dfs = pd.DataFrame(Ts)

dfs.head()
#counts = dfs['id'].value_counts()

#dfs[dfs.apply(lambda x: counts[x['id']] > 1.0, axis=1)]

for i in range(len(df)) :
  print(df.loc[i, "id"], df.loc[i, "price"])



#dfs['price'].hist(bins = 10, range=[ 0, 750000], facecolor='gray', align='mid')

In [ ]:
dfs.sort_values(by=['price'],ascending= [True])

In [16]:
#dfs['quintal'] = dfs['sqft_lot'] - dfs['sqft_living']

dfs.sort_values(by=['quintal','price','waterfront'],ascending= [False,True,True])

dfs.sort_values(by=['quintal','price','waterfront'],ascending= [False,True,True])

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,quintal
1719,1020069017,20150327T000000,700000.0,4,1.00,1300,1651359,1.0,0,3,...,1300,0,1920,0,98022,47.2313,-122.023,2560,425581,1650059
17319,3326079016,20150504T000000,190000.0,2,1.00,710,1164794,1.0,0,0,...,710,0,1915,0,98014,47.6888,-121.909,1680,16730,1164084
7647,2623069031,20140521T000000,542500.0,5,3.25,3010,1074218,1.5,0,0,...,2010,1000,1931,0,98027,47.4564,-122.004,2450,68825,1071208
7769,2323089009,20150119T000000,855000.0,4,3.50,4030,1024068,2.0,0,0,...,4030,0,2006,0,98045,47.4619,-121.744,1830,11700,1020038
4441,3626079040,20140730T000000,790000.0,2,3.00,2560,982278,1.0,0,0,...,2560,0,2004,0,98014,47.6955,-121.861,1620,40946,979718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20703,5167000140,20140711T000000,1480000.0,3,3.25,3700,2264,2.0,0,0,...,2280,1420,1998,0,98033,47.6653,-122.205,3930,2567,-1436
18535,3667500015,20140925T000000,770000.0,4,3.50,3680,2242,2.5,0,0,...,2670,1010,1930,2007,98112,47.6192,-122.307,1350,1288,-1438
21372,6169901185,20140520T000000,490000.0,5,3.50,4460,2975,3.0,0,2,...,3280,1180,2015,0,98119,47.6313,-122.370,2490,4231,-1485
3452,2559950110,20150422T000000,1234570.0,2,2.50,2470,609,3.0,0,0,...,1910,560,2011,0,98112,47.6182,-122.312,2440,1229,-1861
15743,9828702895,20141022T000000,700000.0,4,1.75,2420,520,1.5,0,0,...,2420,0,1900,0,98112,47.6209,-122.302,1200,1170,-1900

In [ ]:

#dfs.head()
#dfs.filter(items=['lat','long']).head()

#Retorna o dataFrame filtrando através da expressão
#dfs[dfs.apply(lambda x: x['floors'] == 1.0, axis=1)]

#dfs['price'].hist(bins = 100, range=[ 0, 750000], facecolor='gray', align='mid')

#dfs['sqft_lot'].hist(bins = 100, range=[ 0, 100000], facecolor='blue', align='mid')

In [ ]:
coordenadas = []
mapa = flm.Map(location=[47.58766, -121.83072], zoom_start=5,tiles='Stamen Terrain')
dfs.head().apply(lambda row: flm.Marker(location=[row['lat'],row['long']],popup="Timberline Lodge",icon=flm.Icon(color="green"),).add_to(mapa),axis=1)
#dfs.apply(lambda row: flm.Marker(location=[row['lat'],row['long']],popup="Timberline Lodge",icon=flm.Icon(color="green"),).add_to(mapa),axis=1)
mapa
import pandas as pd
import folium as flm
Ts = pd.read_csv('kc_house_data.csv')
dfs = pd.DataFrame(Ts)
#dfs.head()
#dfs.filter(items=['lat','long']).head()

#Retorna o dataFrame filtrando através da expressão
#dfs[dfs.apply(lambda x: x['floors'] == 1.0, axis=1)]
coordenadas = []
mapa = flm.Map(location=[47.58766, -121.83072], zoom_start=5,tiles='Stamen Terrain')
dfs.head().apply(lambda row: flm.Marker(location=[row['lat'],row['long']],popup="Timberline Lodge",icon=flm.Icon(color="green"),).add_to(mapa),axis=1)
#dfs.apply(lambda row: flm.Marker(location=[row['lat'],row['long']],popup="Timberline Lodge",icon=flm.Icon(color="green"),).add_to(mapa),axis=1)
mapa